Source: aurex-pam-script
Section: admin
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.9.3

Package: aurex-pam-script
Architecture: all
Depends: ${misc:Depends}, libpam-script
Conflicts: ausias-cc-default-settings (<= 0.92), aurex-pam-quota (<= 0.6)
Description: aurex libpam_script management
 Run libpam-scripts in the aurex way
